.nav__item {
    list-style: none;
}

.nav__item:before {
    content: attr(data-number) ". ";
    color: var(--text-hover);
    font-family: monospace;
    font-size: 13px;
  }

  @media screen and (max-width:768px) {
    .nav__item  {
        list-style: none;
    }
  }
  
  @media screen and (max-width:992px) {
    .nav__item  {
        list-style: none;  
    }
  }

  @media screen and (min-width:993px) {
    .nav__item  {
        list-style: none;  
    }
  }
