.image {
    background-color: var(--back-color);
    width: 40%;
    padding-top: 13%;
}

@media screen and (max-width:768px) {
    .image    {
        width: 100%;
        
        
        
    }
  }
  
  @media screen and (min-width:993px) {
    .image    {  
        background-color: var(--back-color);
        width: 40%;
        padding-top: 13%;
    }
  }