.formation__name {

    display: flex;
    color: #a8b2d1;
    padding-top: 0%;
    font-size: 19px; 
    font-family: var(--font-system);
    text-align: start;
   
    border-radius: 15px;
    transition: 0.5s;
    z-index: 19;    
}

