@media screen and (max-width:768px) {
    .formation__name  {
        display: flex;
        flex-direction: column;
        
    }
  }
  
  @media screen and (min-width:992px) {
    .formation__name{
        display: flex;
    }
    
  }