.about {
    display: flex;
    width: 100%;
    box-sizing: border-box;  
}


@media screen and (max-width:768px) {
    .about   {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 5%;
        padding-left: 10%;
        background-color: var(--back-color);
        box-sizing: border-box;  
        
    }
  }
  
  @media screen and (min-width:993px) {
    .about   {
        display: flex;
        width: 100%;
        
    }
  }