:root {
    --font-mono: monospace;
    --font-sans: sans-serif;
    --font-system: 'Assistant', sans-serif;
    --font-verdana: Verdana;
    --color-text1:  #ccd6f6;
    --color-text2: #a8b2d1;
    --color-text3: #8892b0;
    --back-color: #0a192f;
    --back-color2: #112240;
    --text-hover: #64ffda;
}